!!!
html
    head
    title= "Real time web chat"
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css' )
    script(src='/javascripts/code.js')
    script(src='/socket.io/socket.io.js')
    body
        #content.chat
        .controls
            | Name:
            input#name(style='width:350px;')
            br
            input#field(style='width:350px;')
            input#send(type='button', value='send')