.input-group
    span.input-group-btn
        button#start-game.btn.btn-primary.event-button(name='start-game') Start Game
.input-group
    span.input-group-btn
        button#pause-game.btn.btn-primary.event-button(name='pause-game') Pause Game
.input-group
    span.input-group-btn
        button#resume-game.btn.btn-primary.event-button(name='resume-game') Resume Game
.input-group
    span.input-group-btn
        button#end-game.btn.btn-primary.event-button(name='end-game') End Game
.input-group
    span.input-group-btn
        button#move-units.btn.btn-primary.event-button(name='move-units') Move Units
.input-group
    span.input-group-btn
        button#level-up.btn.btn-primary.event-button(name='level-up') Level Up
.input-group
    span.input-group-btn
        button#buy.btn.btn-primary.event-button(name='buy') Buy
input-group
    span.input-group-btn
        button#spell-1.btn.btn-primary.event-button(name='spell-1') Spell 1
input-group
    span.input-group-btn
        button#spell-2.btn.btn-primary.event-button(name='spell-2') Spell 2
input-group
    span.input-group-btn
        button#spell-3.btn.btn-primary.event-button(name='spell-3') Spell 3
input-group
    span.input-group-btn
        button#custom-event.btn.btn-primary.event-button(name='custom-event') Custom Event